<div class="row headTilteDialog">
    <h2 mat-dialog-title>Add Attendance List</h2>
  </div><br>




  <div mat-dialog-content>
    <div class="row mt-3">
      <div class="col-2 mt-2" style="text-align: right;">
        <mat-label>Project</mat-label>
      </div>
      <div class="col-4">
        <input class="form-control" formControlName="coopCode"
          [ngClass]="{'is-invalid': submitted && f.coopCode.errors}">
        <div *ngIf="submitted && f.coopCode.errors" class="invalid-feedback">
          <div *ngIf="f.coopCode.errors.required" class="text-danger help-block">
            {{'coop code' | mandatoryfield}}
          </div>
        </div>
        <div *ngIf="submitted && f.coopCode.errors" class="invalid-feedback">
          <div *ngIf="f.coopCode.errors.whitespace" class="text-danger help-block">
            {{'coop code' | mandatoryfield}}
          </div>
        </div>
      </div>
      <div class="col-2 mt-2" style="text-align: right;">
        <mat-label> Site </mat-label>
      </div>
      <div class="col-4">
        <input class="form-control" formControlName="abbreviateName"
          [ngClass]="{'is-invalid': submitted && f.abbreviateName.errors}">
        <div *ngIf="submitted && f.abbreviateName.errors" class="invalid-feedback">
          <div *ngIf="f.abbreviateName.errors.required" class="text-danger help-block">
            {{'abbreviate name' | mandatoryfield}}
          </div>
        </div>
        <div *ngIf="submitted && f.abbreviateName.errors" class="invalid-feedback">
          <div *ngIf="f.abbreviateName.errors.whitespace" class="text-danger help-block">
            {{'abbreviate name' | mandatoryfield}}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2 mt-2" style="text-align: right;">
        <mat-label> Task </mat-label>
      </div>
      <div class="col-10">
        <textarea class="form-control" formControlName="address"
          [ngClass]="{'is-invalid': submitted && f.address.errors}"></textarea>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required" class="text-danger help-block">
            {{'address' | mandatoryfield}}
          </div>
        </div>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.whitespace" class="text-danger help-block">
            {{'address' | mandatoryfield}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="mt-3" style="float: right;">
    <button mat-button type="submit" class="btn-submit">Save</button>
    <a mat-raised-button class="btn-cancle"(click)="canCle(false)">Cancel</a>
  </div>
