table {
    width: 100%;
    font-size: 16px;
  }
  
  .mat-cell{
    width: 5;
    text-align: center;
    font-size: 16px;
    color: black;  
    
  } 

  .mat-header-cell {
    font-size: 16px !important;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    color: black;
  }

  // .mat-column-action {
  //   width: 10;
  //   text-align: center;
    
  // }

  // .mat-column-name{
  //   width: 10;
  //   text-align: center;
  // }

  // .mat-column-no{
  //   width: 10;
  //   text-align: center;
  // }

th{
  background-color: #ced2d6;
}
tr:nth-child(even) {background-color: #f2f2f2;}





  